.myModal{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.5);
}

.myModal.active{
	display: flex;
	justify-content: center;
	align-items: center;
}

.myModalContent{
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
}